.playing {
    display: flex;
    flex-direction: column;
}

.board>div {
    display: flex;
}

.game-container {
    display: flex;
}

.pvp-menu {
    display: flex;
    flex-direction: column;
    opacity: 0;
    transition: opacity 1s ease;
}

.pvp-menu-visible {
    opacity: 1;
}