.mAlert-container {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    visibility: hidden;
    opacity: 0;
    z-index: 25;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #00000040;
    user-select: none;
}

/* STANDARD */
.mA-open {
    visibility: visible;
    opacity: 1;
    animation: 2s ease alertOpacity;
}

.mAlert-body {
    position: relative;
    overflow: hidden;
    height: 100vh;
    width: 100vw;
}

.mAlert-content {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    max-width: fit-content;
    height: fit-content;
    font-size: clamp(24px, 15vw, 15vw);
    line-height: normal;
}

.mAlert-win {
    font-size: clamp(24px, 7.5vw, 7.5vw);
    background: linear-gradient(72deg, rgba(0, 0, 0, 0) 15%, var(--blue) 15%, var(--blue) 60%, rgba(0, 0, 0, 0) 60%);
    background-size: 300%, 100%;
    background-position: 100%;
    animation: alertDefault 2s cubic-bezier(.39, 1.59, .51, .8) forwards;
}

.mAlert-lose {
    font-size: clamp(24px, 7.5vw, 7.5vw);
    background: linear-gradient(72deg, rgba(0, 0, 0, 0) 15%, var(--red) 15%, var(--red) 60%, rgba(0, 0, 0, 0) 60%);
    background-size: 300%, 100%;
    background-position: 100%;
    animation: alertDefault 2s cubic-bezier(.39, 1.59, .51, .8) forwards;
}

.mAlert-draw {
    background: linear-gradient(72deg, rgba(0, 0, 0, 0) 15%, var(--secondary) 15%, var(--secondary) 60%, rgba(0, 0, 0, 0) 60%);
    background-size: 300%, 100%;
    background-position: 100%;
    animation: alertDefault 2s cubic-bezier(.39, 1.59, .51, .8) forwards;
}

/* FINALS */
.final-bg {
    background-color: var(--black);
}

.mAF-open {
    visibility: visible;
    opacity: 1;
}

.mAF-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    width: 100vw;
    height: 100vh;
    font-size: clamp(24px, 15vw, 15vw);
    line-height: normal;
    margin: 0;
    overflow: clip;
}

.mAF-content h3 {
    font-size: clamp(24px, 5vw, 15vw);
    margin: 0;
}

.mAF-content>* {
    z-index: 25;
}

.big-text-w {
    position: relative;
}

.big-text-w:after {
    content: attr(data-text);
    -webkit-text-stroke: 3.5vw var(--blue);
    color: var(--blue);
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    z-index: -1;
}

.star {
    --star-left: -100%;
    --star-top: -100%;

    position: absolute;
    display: block;
    opacity: 0;
    font-size: clamp(20px, 5vw, 30px);
    /* color: var(--white); */
    color: white;

    left: var(--star-left);
    top: var(--star-top);

    animation: star-anim 1s forwards;
}

.big-text-l {
    position: relative;
}

.big-text-l:after {
    content: attr(data-text);
    -webkit-text-stroke: 3.5vw var(--red);
    color: var(--red);
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    z-index: -1;
}

.mAlert-finalW {
    animation: .5s winner forwards cubic-bezier(.39, 1.59, .51, .8);
}

.winner-bg {
    position: absolute;
    left: -12.5%;
    width: 125vw;
    height: 125vw;
    border-radius: 50%;
    z-index: 24;
    background: repeating-conic-gradient(var(--blue) 0 15deg, #00000000 15deg 30deg);
    animation: winner-spin 60s linear infinite, winner-opacity 1.5s ease-in;
}

.mAlert-finalL {
    animation: .5s winner forwards cubic-bezier(.39, 1.59, .51, .8);
}

.loser-bg {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);

    width: 40vw;
    min-width: 20rem;
    height: 40vw;
    min-height: 20rem;

    border-radius: 50%;
    background-color: var(--red);
    z-index: 24;

    animation: loser-bg 1.5s cubic-bezier(.39, 1.59, .51, .8) forwards;
}

.big-text-l>span {
    position: absolute;
    background-color: var(--red);
    height: 4vw;
    width: 4vw;
    border-radius: 2vw;
    opacity: 0;
    z-index: -1;
}

.splash1 {
    --h: 2.5;
    top: 50%;
    left: 30.2%;
    animation: lose-splash ease 4s 1.5s forwards;
}

.splash2 {
    --h: 3;
    transform: scale(.7);
    top: 100%;
    left: 35%;
    animation: lose-splash ease 2s 1s forwards;
}

.splash3 {
    --h: 3;
    transform: scale(1.2);
    top: 127%;
    left: 45%;
    animation: lose-splash ease 5s 1s forwards;
}

.splash4 {
    --h: 5;
    transform: scale(.5);
    top: 63%;
    left: 63%;
    animation: lose-splash ease 3s 1.6s forwards;
}

.alert-buttons {
    display: flex;
    justify-content: center;
}

.alert-buttons button {
    font-size: 1.2rem;
    margin: 15px;
}

/* VERSUS */
.VS-Alert {
    animation: alertOpacity 2s ease;
}

.VS-Alert>span {
    font-size: clamp(24px, 20vw, 5rem);
}

.mAlert-loseReverse {
    font-size: clamp(24px, 7.5vw, 7.5vw);
    background: linear-gradient(72deg, rgba(0, 0, 0, 0) 15%, var(--red) 15%, var(--red) 60%, rgba(0, 0, 0, 0) 60%);
    background-size: 300%, 100%;
    background-position: -50%;
    animation: alertReverse 2s cubic-bezier(.39, 1.59, .51, .8) forwards;
}

@keyframes alertOpacity {
    0% {
        opacity: 0;
    }

    20% {
        opacity: 1;
    }

    85% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@keyframes alertDefault {
    0% {
        top: 75%;
    }

    20% {
        top: 50%;
        background-position: 100%;
    }

    90% {
        top: 50%;
        background-position: -50%;
    }

    100% {
        top: 15%;
    }
}

@keyframes alertReverse {
    0% {
        top: 75%;
    }

    20% {
        top: 50%;
        background-position: -50%;
    }

    90% {
        top: 50%;
        background-position: 100%;
    }

    100% {
        top: 15%;
    }
}

@keyframes winner {
    0% {
        transform: scale(0)
    }

    100% {
        transform: scale(1)
    }
}

@keyframes winner-spin {
    100% {
        transform: rotate(360deg)
    }
}

@keyframes winner-opacity {
    0% {
        opacity: 0;
    }

    25% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes loser-bg {
    0% {
        transform: scale(0) translateX(-50%)
    }

    50% {
        transform: scale(0)
    }

    70% {
        transform: scale(1) translateX(-50%)
    }
}

@keyframes star-anim {
    0% {
        opacity: 1;
        transform: scale(0) rotate(0deg);
    }

    50% {
        transform: scale(1)
    }

    100% {
        opacity: 1;
        transform: scale(0) rotate(90deg)
    }
}

@keyframes lose-splash {
    0% {
        opacity: 1;
        height: 4rem;
    }

    100% {
        opacity: 1;
        height: calc(4rem * var(--h));
    }
}