.header-outer {
    position: fixed;
    top: 0;
    left: 0;
    height: 10rem;
    width: 100vw;
}

.header-container {
    position: fixed;
    top: 0;
    left: 0;
    /* position: relative; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    height: 7rem;
    background: linear-gradient(90deg, var(--blue) 15%, rgba(0, 0, 0, 0) 50%, var(--red) 85%);
    user-select: none;
    overflow: hidden;
    opacity: 0;
    z-index: 10;
    animation: fade-in 1.5s ease .5s forwards;
}

.header-txt {
    display: flex;
    flex-direction: column;
    opacity: 0;
    animation: fade-in .5s ease 1.5s forwards;
}

.header-txt div {
    font-size: 2rem;
}

.header-txt p {
    margin: 0;
    line-height: 85%;
    width: 100%;
    max-width: 20vw;
    font-size: 5rem;
}

.your-score {
    text-align: left;
    padding-left: 1.5rem;
}

.their-score {
    text-align: right;
    padding-right: 1.5rem;
}

.current-round {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 0rem;
    width: 7rem;
    padding-bottom: 1rem;
    font-size: 5rem;
    color: var(--black);
    background-color: var(--white);
    animation: grow-up 1s ease 1s forwards;
}

.current-round p {
    font-size: 1rem;
}

.turn-sign {
    position: absolute;
    left: 50%;
    top: 100%;
    width: 10rem;
    max-width: 20vw;
    height: 10rem;
    max-height: 20vw;
    margin: 0;
    line-height: 75%;

    font-size: 10rem;
    transform: translate(-10rem) rotate(45deg);
    text-justify: center;
    color: var(--white);
    opacity: 0;
    user-select: none;
    z-index: -1;
    transition: all .3s ease;
}

.p1-sign {
    opacity: .5;
    top: 0%;
    left: 40%;
    transform: translate(-8rem) rotate(-15deg);
}

.p2-sign {
    opacity: .5;
    top: 0%;
    left: 60%;
    transform: translate(0rem) rotate(15deg);
}

.header-turn-indicator {
    top: 0;
    font-size: 2rem;
    margin: 8rem 0;
    line-height: 75%;
    user-select: none;
    opacity: 0;
    animation: fade-in 1s ease 2s forwards;
}

@keyframes fade-in {
    0% {
        opacity: 0
    }

    100% {
        opacity: 1
    }
}

@keyframes grow-up {
    0% {
        height: 0rem
    }

    100% {
        height: 7rem
    }
}

@media (min-width: 550px) {
    .p1-sign {
        opacity: 1;
    }

    .p2-sign {
        opacity: 1;
    }
}