#root {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
}

.container {
    display: flex;
}

.chat-container {
    display: flex;
    flex-direction: column;
    height: 50vh;
    width: 60vw;
    min-width: 450px;
    border: 1px solid #FFFFFF;
    overflow-y: scroll;
}

.message {
    max-width: 80%;
    min-width: 30%;
    text-align: left;
    align-self: flex-start;
    color: rgb(255, 255, 255);
    background-color: #303030;
    border-radius: 0 .5rem .5rem 0;
    margin: none;
    padding: .2rem .7rem;
}

.message b {
    cursor: pointer;
}

.user-message {
    max-width: 80%;
    min-width: 30%;
    text-align: left;
    align-self: flex-end;
    color: rgb(255, 255, 255);
    background-color: #151f2e;
    border-radius: .5rem 0 0 .5rem;
    margin: none;
    padding: .2rem .7rem;
}

.sys-message {
    width: 100%;
    color: rgb(128, 128, 128);
}