.dm-chat-body {
    position: fixed;
    bottom: 0;
    display: flex;
    flex-direction: column;
    max-height: 3em;
    max-width: 20rem;
    min-width: 20rem;
    background-color: var(--black);
    border: 1px solid var(--white);
}

.dm-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0em .6em 0em 2em;
    user-select: none;
    height: 3em;
}

.dm-header>button {
    height: 2em;
    padding: 0em .5em;
    background-color: unset;
}

.dm-header>button:hover {
    background-color: #FFFFFF20;
}

.dm-pointer {
    cursor: pointer;
}

.dm-chat-content {
    display: flex;
    flex-direction: column;
}

.dm-expanded {
    height: 30rem;
    max-height: 30rem;
}

.dm-unseen {
    animation: unseen 2s infinite;
}

@keyframes unseen {
    0% {
        border: 1px solid orange
    }

    100% {
        border: 1px solid transparent
    }
}