.header-container {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    height: 7rem;
    margin-bottom: 3rem;
    background: linear-gradient(90deg, var(--blue) 15%, rgba(0, 0, 0, 0) 50%, var(--red) 85%);
    overflow-y: hidden;
}

.header-container>h2 {
    position: absolute;
    bottom: -3.5rem;
    left: 50%;
    transform: translateX(-50%);
}

.header-txt {
    font-size: 5rem;
}

.your-score {
    padding-left: 1.5rem;
}

.their-score {
    padding-right: 1.5rem;
}

.current-round {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 7rem;
    width: 10rem;
    font-size: 5rem;
    color: var(--black);
    background-color: var(--white);
}

.turn-sign {
    position: absolute;
    left: 50%;
    bottom: -125%;
    width: 10rem;
    height: fit-content;
    margin: 0;
    line-height: 75%;
    font-size: clamp(24px, 10vw, 15rem);
    transform: translate(-50%) rotate(45deg);
    text-justify: center;
    color: var(--white);
    opacity: 0;
    z-index: 10;
    user-select: none;
    transition: all .3s ease;
}

.p1-sign {
    opacity: 1;
    bottom: -30%;
    left: 35%;
    transform: rotate(-15deg);
}

.p2-sign {
    opacity: 1;
    bottom: -30%;
    left: 65%;
    transform: rotate(15deg);
}