.mAlert-container {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    visibility: hidden;
    opacity: 0;
    z-index: 25;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #00000040;
}

/* STANDARD */
.mA-open {
    visibility: visible;
    opacity: 1;
    animation: 2s ease alertOpacity;
}

.mAlert-body {
    position: relative;
    overflow: hidden;
    height: 100vh;
    width: 100vw;
}

.mAlert-content {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    max-width: fit-content;
    height: fit-content;
    font-size: clamp(24px, 15vw, 15vw);
    line-height: normal;
}

.mAlert-win {
    font-size: clamp(24px, 7.5vw, 7.5vw);
    background: linear-gradient(72deg, rgba(0, 0, 0, 0) 15%, var(--blue) 15%, var(--blue) 60%, rgba(0, 0, 0, 0) 60%);
    background-size: 300%, 100%;
    background-position: 100%;
    animation: alertDefault 2s cubic-bezier(.39, 1.59, .51, .8);

}

.mAlert-lose {
    font-size: clamp(24px, 7.5vw, 7.5vw);
    background: linear-gradient(72deg, rgba(0, 0, 0, 0) 15%, var(--red) 15%, var(--red) 60%, rgba(0, 0, 0, 0) 60%);
    background-size: 300%, 100%;
    background-position: 100%;
    animation: alertDefault 2s cubic-bezier(.39, 1.59, .51, .8);

}

.mAlert-draw {
    background: linear-gradient(72deg, rgba(0, 0, 0, 0) 15%, var(--secondary) 15%, var(--secondary) 60%, rgba(0, 0, 0, 0) 60%);
    background-size: 300%, 100%;
    background-position: 100%;
    animation: alertDefault 2s cubic-bezier(.39, 1.59, .51, .8);
}

/* FINALS */
.mAF-open {
    visibility: visible;
    opacity: 1;
}

.mAF-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    width: 100vw;
    height: 100vh;
    font-size: clamp(24px, 15vw, 15vw);
    line-height: normal;
    margin: 0;
    overflow: clip;
}

.mAF-content h3 {
    font-size: clamp(24px, 5vw, 15vw);
}

.mAF-content>* {
    z-index: 25;
}

.mAlert-finalW {
    animation: .5s winner forwards cubic-bezier(.39, 1.59, .51, .8);
}

.winner-bg {
    position: absolute;
    left: -25%;
    width: 150vw;
    height: 150vw;
    border-radius: 50%;
    z-index: 24;
    background: repeating-conic-gradient(var(--blue) 0 15deg, #00000000 15deg 30deg);
    animation: winner-spin 60s linear infinite, winner-opacity 1.5s ease-in;
}

.mAlert-finalL {
    background-color: var(--red);
}

.alert-buttons {
    display: flex;
    justify-content: center;
}

.alert-buttons button {
    font-size: 1rem;
    margin: 15px;
}


@keyframes alertOpacity {
    0% {
        opacity: 0;
    }

    20% {
        opacity: 1;
    }

    85% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@keyframes alertDefault {
    0% {
        top: 75%;
    }

    20% {
        top: 50%;
        background-position: 100%;
    }

    90% {
        top: 50%;
        background-position: -50%;
    }

    100% {
        top: 15%;
    }
}

@keyframes winner {
    0% {
        transform: scale(0)
    }

    100% {
        transform: scale(1)
    }
}

@keyframes winner-spin {
    100% {
        transform: rotate(360deg)
    }
}

@keyframes winner-opacity {
    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}